#dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
   
#map {
    z-index: 1;
    width: 500px;
    height: 500px;
    margin: 0;
}
   
@media (max-width: 500px){
    #map {
        z-index: 1;
        width: device-width;
        height: 500px;
        margin: 0;
    }
}