openapi: 3.0.1
tags:
  - name: Transmission
    description: Data relating to the infrastructure on and management of the transmission network
    externalDocs:
      url: https://www.bmreports.com/bmrs/?q=transmission/
  - name: Demand
    description: Data relating to forecasts, out-turn, and reductions in demand
    externalDocs:
      url: https://www.bmreports.com/bmrs/?q=demand/
  - name: Generation
    description: Data relating to forecasts, out-turn, and reductions in generation 
    externalDocs:
      url: https://www.bmreports.com/bmrs/?q=generation/
  - name: Balancing
    description: Data relating to the prices, volumes, and units operating in short-term power markets
    externalDocs:
      url: hhttps://www.bmreports.com/bmrs/?q=balancing/
info:
  title: "BMRS API"
  description: "API for the Elexon Balancing Mechanism Reporting Service"
  version: "2.0"
servers:
  - url: "https://api.bmreports.com"
paths:
  /BMRS/B0610/v1:
    get:
      x-title: "B0610"
      description: "Actual Total Load per Bidding Zone"
      tags:
        - Demand
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Actual Total Load per Bidding Zone"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B0620/v1:
    get:
      x-title: "B0620"
      description: "Day-Ahead Total Load Forecast per Bidding Zone"
      tags:
        - Demand
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Day-Ahead Total Load Forecast per Bidding Zone"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B0630/v1:
    get:
      x-title: "B0630"
      description: "Week-Ahead Total Load Forecast per Bidding Zone"
      tags:
        - Demand
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "Year"
          in: "query"
          schema:
            type: "string"
          example: "2021"
        - name: "Week"
          in: "query"
          schema:
            type: "string"
          example: "22"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Week-Ahead Total Load Forecast per Bidding Zone"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B0640/v1:
    get:
      x-title: "B0640"
      description: "Month-Ahead Total Load Forecast Per Bidding Zone"
      tags:
        - Demand
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "Year"
          in: "query"
          schema:
            type: "string"
          example: "2021"
        - name: "Month"
          in: "query"
          schema:
            type: "string"
          example: "MAR"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Month-Ahead Total Load Forecast Per Bidding Zone"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B0650/v1:
    get:
      x-title: "B0650"
      description: "Year Ahead Total Load Forecast per Bidding Zone"
      tags:
        - Demand
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "Year"
          in: "query"
          schema:
            type: "string"
          example: "2021"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Year Ahead Total Load Forecast per Bidding Zone"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B0710/v1:
    get:
      x-title: "B0710"
      description: "Planned Unavailability of Consumption Units"
      tags:
        - Demand
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "EndTime"
          in: "query"
          schema:
            type: "string"
          example: "23:59:59"
        - name: "StartTime"
          in: "query"
          schema:
            type: "string"
          example: "00:00:00"
        - name: "StartDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "EndDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Planned Unavailability of Consumption Units"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B0720/v1:
    get:
      x-title: "B0720"
      description: "Changes In Actual Availability Of Consumption Units"
      tags:
        - Demand
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "StartDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "StartTime"
          in: "query"
          schema:
            type: "string"
          example: "00:00:00"
        - name: "EndDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "EndTime"
          in: "query"
          schema:
            type: "string"
          example: "23:59:59"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Changes In Actual Availability Of Consumption Units"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B0810/v1:
    get:
      x-title: "B0810"
      description: "Year Ahead Forecast Margin"
      tags:
        - Demand
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "Year"
          in: "query"
          schema:
            type: "string"
          example: "2021"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Year Ahead Forecast Margin"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B0910/v1:
    get:
      x-title: "B0910"
      description: "Expansion and Dismantling Projects"
      tags:
        - Transmission
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "Year"
          in: "query"
          schema:
            type: "integer"
          example: "2021"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Expansion and Dismantling Projects"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1010/v1:
    get:
      x-title: "B1010"
      description: "Planned Unavailability In The Transmission Grid"
      tags:
        - Transmission
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "StartDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "EndDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "StartTime"
          in: "query"
          schema:
            type: "string"
          example: "00:00:00"
        - name: "EndTime"
          in: "query"
          schema:
            type: "string"
          example: "23:59:59"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Planned Unavailability In The Transmission Grid"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1020/v1:
    get:
      x-title: "B1020"
      description: "Changes In Actual Availability In The Transmission Grid"
      tags:
        - Transmission
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "StartDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "EndDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "StartTime"
          in: "query"
          schema:
            type: "string"
          example: "00:00:00"
        - name: "EndTime"
          in: "query"
          schema:
            type: "string"
          example: "23:59:59"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Changes In Actual Availability In The Transmission Grid"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1030/v1:
    get:
      x-title: "B1030"
      description: "Changes In Actual Availability of Offshore Grid Infrastructure"
      tags:
        - Transmission
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "StartDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "EndDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "StartTime"
          in: "query"
          schema:
            type: "string"
          example: "00:00:00"
        - name: "EndTime"
          in: "query"
          schema:
            type: "string"
          example: "23:59:59"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Changes In Actual Availability of Offshore Grid Infrastructure"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1320/v1:
    get:
      x-title: "B1320"
      description: "Congestion Management Measures Countertrading"
      tags:
        - Transmission
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Congestion Management Measures Countertrading"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1330/v1:
    get:
      x-title: "B1330"
      description: "Congestion Management Measures Costs of Congestion Management"
      tags:
        - Transmission
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "Year"
          in: "query"
          schema:
            type: "string"
          example: "2021"
        - name: "Month"
          in: "query"
          schema:
            type: "string"
          example: "Mar"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Congestion Management Measures Costs of Congestion Management"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1410/v1:
    get:
      x-title: "B1410"
      description: "Installed Generation Capacity Aggregated"
      tags:
        - Generation
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "Year"
          in: "query"
          schema:
            type: "string"
          example: "2021"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Installed Generation Capacity Aggregated"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1420/v1:
    get:
      x-title: "B1420"
      description: "Installed Generation Capacity per Unit"
      tags:
        - Generation
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "Year"
          in: "query"
          schema:
            type: "string"
          example: "2021"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Installed Generation Capacity per Unit"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1430/v1:
    get:
      x-title: "B1430"
      description: "Day-Ahead Aggregated Generation"
      tags:
        - Generation
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Day-Ahead Aggregated Generation"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1440/v1:
    get:
      x-title: "B1440"
      description: "Generation forecasts for Wind and Solar"
      tags:
        - Generation
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ProcessType"
          in: "query"
          schema:
            type: "string"
          example: "Day Ahead"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Generation forecasts for Wind and Solar"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1510/v1:
    get:
      x-title: "B1510"
      description: "Planned Unavailability of Generation Units"
      tags:
        - Generation
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "StartDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "EndDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "StartTime"
          in: "query"
          schema:
            type: "string"
          example: "00:00:00"
        - name: "EndTime"
          in: "query"
          schema:
            type: "string"
          example: "23:59:59"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Planned Unavailability of Generation Units"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1520/v1:
    get:
      x-title: "B1520"
      description: "Changes In Actual Availability of Generation Units"
      tags:
        - Generation
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "StartDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "EndDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "StartTime"
          in: "query"
          schema:
            type: "string"
          example: "00:00:00"
        - name: "EndTime"
          in: "query"
          schema:
            type: "string"
          example: "23:59:59"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Changes In Actual Availability of Generation Units"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1530/v1:
    get:
      x-title: "B1530"
      description: "Planned Unavailability of Production Units"
      tags:
        - Generation
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "StartDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "EndDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "StartTime"
          in: "query"
          schema:
            type: "string"
          example: "00:00:00"
        - name: "EndTime"
          in: "query"
          schema:
            type: "string"
          example: "23:59:59"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Planned Unavailability of Production Units"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1540/v1:
    get:
      x-title: "B1540"
      description: "Changes In Actual Availability of Production Units"
      tags:
        - Generation
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "StartDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "EndDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "StartTime"
          in: "query"
          schema:
            type: "string"
          example: "00:00:00"
        - name: "EndTime"
          in: "query"
          schema:
            type: "string"
          example: "23:59:59"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Changes In Actual Availability of Production Units"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1610/v2:
    get:
      x-title: "B1610"
      description: "Actual Generation Output per Generation Unit"
      tags:
        - Generation
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "NGCBMUnitID"
          in: "query"
          schema:
            type: "string"
          example: "*"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Actual Generation Output per Generation Unit"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1620/v1:
    get:
      x-title: "B1620"
      description: "Actual Aggregated Generation per Type"
      tags:
        - Generation
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Actual Aggregated Generation per Type"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1630/v1:
    get:
      x-title: "B1630"
      description: "Actual Or Estimated Wind and Solar Power Generation"
      tags:
        - Generation
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Actual Or Estimated Wind and Solar Power Generation"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1720/v1:
    get:
      x-title: "B1720"
      description: "Amount Of Balancing Reserves Under Contract Service"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Amount Of Balancing Reserves Under Contract Service"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1730/v1:
    get:
      x-title: "B1730"
      description: "Prices Of Procured Balancing Reserves Service"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Prices Of Procured Balancing Reserves Service"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1740/v1:
    get:
      x-title: "B1740"
      description: "Accepted Aggregated Offers"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Accepted Aggregated Offers"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1750/v1:
    get:
      x-title: "B1750"
      description: "Activated Balancing Energy"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Activated Balancing Energy"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1760/v1:
    get:
      x-title: "B1760"
      description: "Prices Of Activated Balancing Energy"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Prices Of Activated Balancing Energy"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1770/v1:
    get:
      x-title: "B1770"
      description: "Imbalance Prices"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Imbalance Prices"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1780/v1:
    get:
      x-title: "B1780"
      description: "Aggregated Imbalance Volumes"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Aggregated Imbalance Volumes"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1790/v1:
    get:
      x-title: "B1790"
      description: "Financial Expenses and Income For Balancing"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "Year"
          in: "query"
          schema:
            type: "string"
          example: "2021"
        - name: "Month"
          in: "query"
          schema:
            type: "string"
          example: "MAR"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Financial Expenses and Income For Balancing"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1810/v1:
    get:
      x-title: "B1810"
      description: "Cross-Border Balancing Volumes of Exchanged Bids and Offers"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Cross-Border Balancing Volumes of Exchanged Bids and Offers"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1820/v1:
    get:
      x-title: "B1820"
      description: "Cross-Border Balancing Prices"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Cross-Border Balancing Prices"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/B1830/v1:
    get:
      x-title: "B1830"
      description: "Cross-border Balancing Energy Activated"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Cross-border Balancing Energy Activated"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/BOD/v1:
    get:
      x-title: "BOD"
      description: "Bid Offer Level Data"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "SettlementPeriod"
          in: "query"
          schema:
            type: "string"
          example: "12"
        - name: "BMUnitId"
          in: "query"
          schema:
            type: "string"
          example: "2__AEENG000, G, E.ON Energy, Solutions Limited, EAS-EST01"
        - name: "BMUnitType"
          in: "query"
          schema:
            type: "string"
          example: "G, S, E, I, T, etc"
        - name: "LeadPartyName"
          in: "query"
          schema:
            type: "string"
          example: "AES New Energy Limited"
        - name: "NGCBMUnit"
          in: "query"
          schema:
            type: "string"
          example: "EAS-ASP01, AES New Energy Limited, G, 2__AAEPD000"
        - name: "Name"
          in: "query"
          schema:
            type: "string"
          example: "2__AAEPD000"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Bid Offer Level Data"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/CDN/v1:
    get:
      x-title: "CDN"
      description: "Credit Default Notice Data"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "FromClearedDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "ToClearedDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Credit Default Notice Data"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/DETSYSPRICES/v1:
    get:
      x-title: "DETSYSPRICES"
      description: "Detailed System Prices"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2014-02-01"
        - name: "SettlementPeriod"
          in: "query"
          schema:
            type: "string"
          example: "2"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Detailed System Prices"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/DEVINDOD/v1:
    get:
      x-title: "DEVINDOD"
      description: "Daily Energy Volume Data"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "FromDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "ToDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Daily Energy Volume Data"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/DISBSAD/v1:
    get:
      x-title: "DISBSAD"
      description: "Balancing Services Adjustment Action Data"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "SettlementPeriod"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Balancing Services Adjustment Action Data"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/FORDAYDEM/v1:
    get:
      x-title: "FORDAYDEM"
      description: "Forecast Day and Day Ahead Demand Data"
      tags:
        - Demand
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "ZoneIdentifier"
          in: "query"
          schema:
            type: "string"
          example: "N"
        - name: "FromDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "ToDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Forecast Day and Day Ahead Demand Data"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/FREQ/v1:
    get:
      x-title: "FREQ"
      description: "Rolling System Frequency"
      tags:
        - Demand
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "FromDateTime"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01 00:01:00"
        - name: "ToDateTime"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-02 23:59:00"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Rolling System Frequency"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/FUELHH/v1:
    get:
      x-title: "FUELHH"
      description: "Half Hourly Outturn Generation by Fuel Type"
      tags:
        - Generation
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "FromDate"
          in: "query"
          schema:
            type: "string"
          example: "44197"
        - name: "ToDate"
          in: "query"
          schema:
            type: "string"
          example: "44228"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Half Hourly Outturn Generation by Fuel Type"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/MELIMBALNGC/v1:
    get:
      x-title: "MELIMBALNGC"
      description: "Forecast Day and Day Ahead Margin and Imbalance Data"
      tags:
        - Demand
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "ZoneIdentifier"
          in: "query"
          schema:
            type: "string"
          example: "N"
        - name: "FromDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "ToDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Forecast Day and Day Ahead Margin and Imbalance Data"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/MID/v1:
    get:
      x-title: "MID"
      description: "Market Index Data"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "FromSettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "ToSettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "Period"
          in: "query"
          schema:
            type: "string"
          example: "*"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Market Index Data"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/MessageDetailRetrieval/v1:
    get:
      x-title: "MessageDetailRetrieval"
      description: "REMIT Flow - Message List Retrieval"
      tags:
        - REMIT
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "MessageId"
          in: "query"
          schema:
            type: "string"
          example: ""
        - name: "ParticipantId"
          in: "query"
          schema:
            type: "string"
          example: ""
        - name: "SequenceId"
          in: "query"
          schema:
            type: "integer"
          example: ""
        - name: "ActiveFlag"
          in: "query"
          schema:
            type: "string"
          example: "N"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          example: "csv/xml."
      responses:
        '200':
          description: "REMIT Flow - Message List Retrieval"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/MessageListRetrieval/v1:
    get:
      x-title: "MessageListRetrieval"
      description: "REMIT Flow - Message List Retrieval"
      tags:
        - REMIT
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "EventStart"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "EventEnd"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "PublicationFrom"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "PublicationTo"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "ParticipantId"
          in: "query"
          schema:
            type: "string"
          example: ""
        - name: "MessageID"
          in: "query"
          schema:
            type: "string"
          example: ""
        - name: "AssetID"
          in: "query"
          schema:
            type: "string"
          example: ""
        - name: "EventType"
          in: "query"
          schema:
            type: "string"
          example: ""
        - name: "FuelType"
          in: "query"
          schema:
            type: "string"
          example: ""
        - name: "MessageType"
          in: "query"
          schema:
            type: "string"
          example: ""
        - name: "UnavailabilityType"
          in: "query"
          schema:
            type: "string"
          example: ""
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "REMIT Flow - Message List Retrieval"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/NETBSAD/v1:
    get:
      x-title: "NETBSAD"
      description: "Balancing Service Adjustment Data"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "SettlementPeriod"
          in: "query"
          schema:
            type: "string"
          example: "1"
        - name: "isTwoDayWindow"
          in: "query"
          schema:
            type: "string"
          example: "FALSE"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Balancing Service Adjustment Data"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/NONBM/v1:
    get:
      x-title: "NONBM"
      description: "Non BM STOR Instructed Volume Data"
      tags:
        - Balancing
      parameters:
        - name: "FromDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "ToDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Non BM STOR Instructed Volume Data"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/PHYBMDATA/v1:
    get:
      x-title: "PHYBMDATA"
      description: "Physical Data"
      tags:
        - Balancing
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "SettlementDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "SettlementPeriod"
          in: "query"
          schema:
            type: "string"
          example: "12"
        - name: "BMUnitId"
          in: "query"
          schema:
            type: "string"
          example: ""
        - name: "BMUnitType"
          in: "query"
          schema:
            type: "string"
          example: ""
        - name: "LeadPartyName"
          in: "query"
          schema:
            type: "string"
          example: ""
        - name: "NGCBMUnit"
          in: "query"
          schema:
            type: "string"
          example: ""
        - name: "Name"
          in: "query"
          schema:
            type: "string"
          example: ""
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Physical Data"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/SYSDEM/v1:
    get:
      x-title: "SYSDEM"
      description: "System Demand"
      tags:
        - Demand
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "FromDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "ToDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "System Demand"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/SYSWARN/v1:
    get:
      x-title: "SYSWARN"
      description: "System Warnings"
      tags:
        - Transmission
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "FromDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "ToDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "System Warnings"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/TEMP/v1:
    get:
      x-title: "TEMP"
      description: "Temperature Data"
      tags:
        - Generation
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "FromDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "ToDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Temperature Data"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    
  /BMRS/WINDFORFUELHH/v1:
    get:
      x-title: "WINDFORFUELHH"
      description: "Wind Generation Forecast and Out-turn Data"
      tags:
        - Generation
      parameters:
        - name: "APIKey"
          in: "query"
          schema:
            type: "string"
          example: "AP8DA23"
        - name: "FromDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-01-01"
        - name: "ToDate"
          in: "query"
          schema:
            type: "string"
          example: "2021-02-01"
        - name: "ServiceType"
          in: "query"
          schema:
            type: "string"
          examples:
            csv:
              value: "csv"
            xml:
              value: "xml"
      responses:
        '200':
          description: "Wind Generation Forecast and Out-turn Data"
      servers:
        - url: "https://api.bmreports.com"
    servers:
      - url: "https://api.bmreports.com"
    